           *{
               margin: 0;
               padding: 0;
           }
           a{
               text-decoration: none;
           }
            body,html{
                width: 100%;    
                background: #eee;
            }
            #s{
                width: 100%;
                height: 50px;
                background: #fff;
                border-bottom:1px solid #f8f8f8;
            }
            #s ul{
                width: 100%;
                display: flex;
                list-style: none;
                -webkit-justify-content:space-around;
            }
            #s ul li{
                line-height:45px;
            }
            #s ul li a{
                color: #000;
            }
            #s ul li img{
                margin-top: 13px;
                margin-left:10px;
                width: 50%;
            }
            #aa{
                margin-top: 0;
            }